#title {
    margin: auto;
    width: 400px;
  }
  #title h3 {
    font-size: 50px;
    text-align: center;
    font-family: Lobster, Arial, Helvetica, sans-serif;
  }
  #title p{
    font-size: 25px;
    text-align: center;
  }
  #image{
    max-width: 100%;
    height: auto;
    display:block;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
   } 
#tribute-info{
    width: 500px;
    margin: auto;
  }

  #tribute-info h3{
   text-align: center;
   margin: auto;
   font-size: 25px;
  }   
  #tribute-info ul{
  /*  margin: auto auto auto 600px;*/
    width: 500px;
    font-size: 25px;
  }
  #img-caption{
    text-align: center;
  }
  body{
    background: wheat;
  }
  #external-link {
    font-size: 25px;
    text-align: center;
  }
  #inner-list{
  margin-right: 100px ;
  position: relative;
  right: 300px;
  top: 20px;
  bottom: 30px;
  }
